<ul class="breadcrumb">

  <li>
    <%= link_to '', '/home', :class=>'icon-home'%>
  </li>

  <li>
    <%#= link_to image_tag('order-here', :border => 0, :width => 16, :height => 16), addresses_path%>
    <%= link_to '', addresses_path, :class=>'icon-edit', :remote=>true %>
  </li>

</ul>



