<div class="navbar navbar-default" id="navbar">
<script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {
    }
</script>

<div class="navbar navbar-default" id="navbar">
<script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {
    }
</script>

<div class="navbar-container" id="navbar-container">
  <div class="navbar-header pull-left">
    <a href="#" class="navbar-brand">
      <img class="navbar-logo" src="assets/anpi-logo.png">
    </a><!-- /.brand -->
  </div>
  <!-- /.navbar-header -->

  <div class="navbar-header pull-right" role="navigation">

    <ul class="nav ace-nav pull-right">

      <li>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="icon-bell-alt icon-animated-bell"></i>
          <span class="badge">1</span>
        </a>

        <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
          <li class="dropdown-header">
            <i class="icon-warning-sign"></i>
            1 Notification
          </li>

          <li>
            <a href="#">
              <div class="clearfix">
				<span class="pull-left">
					<i class="btn btn-xs no-hover btn-pink icon-chevron-right"></i>
					Hugh Jackman accepted your order transfer (O-335544)
				</span>
                <span class="btn btn-minier btn-primary pull-right">View</span>
              </div>
            </a>
          </li>


          <li>
            <a href="#">
              See all notifications
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="icon-envelope icon-animated-vertical"></i>
          <span class="badge">5</span>
        </a>

        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
          <li class="dropdown-header">
            <i class="icon-envelope-alt"></i>
            5 Messages
          </li>

          <li>
            <a href="#">
              <img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar"/>
				<span class="msg-body">
					<span class="msg-title">
						<span class="blue">Alex:</span>
						Ciao sociis natoque penatibus et auctor ...
					</span>

					<span class="msg-time">
						<i class="icon-time"></i>
						<span>a moment ago</span>
					</span>
				</span>
            </a>
          </li>

          <li>
            <a href="#">
              <img src="assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar"/>
				<span class="msg-body">
					<span class="msg-title">
						<span class="blue">Susan:</span>
						Vestibulum id ligula porta felis euismod ...
					</span>

					<span class="msg-time">
						<i class="icon-time"></i>
						<span>20 minutes ago</span>
					</span>
				</span>
            </a>
          </li>

          <li>
            <a href="#">
              <img src="assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar"/>
				<span class="msg-body">
					<span class="msg-title">
						<span class="blue">Bob:</span>
						Nullam quis risus eget urna mollis ornare ...
					</span>

					<span class="msg-time">
						<i class="icon-time"></i>
						<span>3:15 pm</span>
					</span>
				</span>
            </a>
          </li>

          <li>
            <a href="inbox.html">
              See all messages
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">

        <span class="user-info">
            <small>Welcome,</small>
            Agent
        </span>
          <i class="icon-caret-down"></i>
          <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo"/>


        </a>

        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
          <li>
            <a href="#">
              <i class="icon-cog"></i>
              Settings
            </a>
          </li>

          <li class="profile">
            <a>
              <i class="icon-user"></i>
              Profile
            </a>
          </li>

          <li class="divider"></li>

          <li>
            <a href="#">
              <i class="icon-off"></i>
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.ace-nav -->
  </div>
  <!-- /.navbar-header -->
</div>
<!-- /.container -->
</div>
</div>

<script>
    $(".profile").click(function () {
        bootbox.dialog({
            message: $('.profile-dialog').html(),
            title: "Profile Information",
            buttons: {
                main: {
                    label: "Save",
                    className: "btn-success",
                    callback: function () {
                        alert("modul closing...");
                    }
                },
                cancel: {
                    label: "Cancel",
                    className: "btn-primary",
                    callback: function () {
                        alert("modul closing...");
                    }
                }
            }
        });
    });
</script>

<div class="profile-dialog">
  <div class="content">
    <div class="profile-photo">
      <div class="ace-file-input ace-file-multiple pull-left">
        <input multiple="" type="file" id="id-input-file-3">
        <label class="file-label" data-title="Drop or click">
          <span class="file-name" data-title="No File ..."><i class="icon-cloud-upload"></i></span>
        </label>
        <a class="remove" href="#"><i class="icon-remove"></i></a>
      </div>

      <h4>Profile Photo</h4>

      <p>Your profile picture will appear in messages to others, and in other agent's contact lists.</p>
    </div>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 no-padding-right" for="form-field-1">First Name</label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="John" class="col-xs-10 col-sm-5 input-xlarge pull-right">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 no-padding-right" for="form-field-1">Last Name</label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Doe" class="col-xs-10 col-sm-5 input-xlarge pull-right">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 no-padding-right" for="form-field-1">Partner</label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="AT&T" class="col-xs-10 col-sm-5 input-xlarge pull-right" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 no-padding-right" for="form-field-1">Hierarchy</label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Sales Agent" class="col-xs-10 col-sm-5 input-xlarge pull-right" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 no-padding-right" for="form-field-1">Allowed Discount</label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="15%" class="col-xs-10 col-sm-5 input-xlarge pull-right" readonly="true">
        </div>
      </div>


    </form>


  </div>

</div>
