
<div class="email-message">
  <div class="wysiwyg-toolbar btn-toolbar center wysiwyg-style1">

    <div class="btn-group">
      <a class="btn btn-sm btn-info" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)">
        <i class="icon-bold"></i>
      </a>
      <a class="btn btn-sm btn-info" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)">
        <i class="icon-italic"></i>
      </a>
    </div>
    <div class="btn-group">
      <a class="btn btn-sm btn-success" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
      <a class="btn btn-sm btn-success" data-edit="insertorderedlist"   title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
      <a class="btn btn-sm btn-purple"  data-edit="outdent"             title="" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
      <a class="btn btn-sm btn-purple"  data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>
    </div>
    <div class="btn-group">
      <a class="btn btn-sm btn-primary" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
      <a class="btn btn-sm btn-primary active" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
      <a class="btn btn-sm btn-primary" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
    </div>



    <div class="btn-group">
      <a class="btn btn-sm btn-grey" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
      <a class="btn btn-sm btn-grey" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
    </div>
    <input type="text" data-edit="inserttext" x-webkit-speech="" class="wysiwyg-speech-input" style="position: absolute; top: 105px; left: 1138px;">
  </div>
  <div class="wysiwyg-editor" id="editor1" contenteditable="true"></div>
</div>
