<div class="main-container container map-container" id="main-container order">
  <script type="text/javascript">
      try {
          ace.settings.check('main-container', 'inside-container')
      } catch (e) {
      }
  </script>

  <div class="main-container-inner order-inner">
    <div class="main-content order-content">

      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <%= render 'addresses/index'%>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div><!-- /.main-content -->
  </div>
</div>
